
#iphonebackground{
  width: 100%;
  margin: auto;
  height: auto;
}
.iphonewrapper{
  width: 100%;
  margin: auto;
}

.app{
    img { 
        opacity: 0.7; 
      } 
      
      img:hover { 
        opacity: 1; 
      }
}

@media (min-width: 1250px) {
  #iphonebackground{
    width: 100%;
    margin: auto;
    height: auto;
  }
  .iphonewrapper{
    width: 40%;
    margin: auto;
  }
}