#pedal1 {
    position: absolute;
    z-index: 9;
    border: none;
    text-align: center;
  }

  #pedal2 {
    position: absolute;
    z-index: 9;
    border: none;
    text-align: center;
  }
  #pedal3 {
    position: absolute;
    z-index: 9;
    border: none;
    text-align: center;
  }
  #pedal4 {
    position: absolute;
    z-index: 9;
    border: none;
    text-align: center;
  }
  #pedal5 {
    position: absolute;
    z-index: 9;
    border: none;
    text-align: center;
  }

  #slot1{
    position: absolute;
    border-style: dotted;
    border-color: yellow;
    height: 100px;
    width: 100px;
    top: 400px;
    left: 400px
  }
  #slot2{
    position: absolute;
    border-style: dotted;
    border-color: yellow;
    height: 100px;
    width: 100px;
    top: 400px;
    left: 600px
  }
  #slot3{
    position: absolute;
    border-style: dotted;
    border-color: yellow;
    height: 100px;
    width: 100px;
    top: 400px;
    left: 800px
  }
  #slot4{
    position: absolute;
    border-style: dotted;
    border-color: yellow;
    height: 100px;
    width: 100px;
    top: 400px;
    left: 1000px
  }
  #slot5{
    position: absolute;
    border-style: dotted;
    border-color: yellow;
    height: 100px;
    width: 100px;
    top: 400px;
    left: 1200px
  }