body{
    background-image: url("../img/spaceships.gif");

}

.title{
    p{
        font-size: 5rem;
        color: yellow;
    }

}
.musiclinks{
    p{
        color:yellow
    }
    width: 50%;
    margin: auto;
}

.menu{
    width: 50%;
    margin: auto;
    a{
        color:yellow
    }
}

@import 'pedals','twitter','iphone';