.pedal {
    max-width: 10%;
    max-height: auto;

    img {
        max-width: 100%;
        height: auto;
        padding: none;
        margin: none;
    }
}



#pedal1 {
    position: absolute;
    z-index: 9;
    border: none;
    text-align: center;
  }

  #pedal2 {
    max-width: 20%;
    position: absolute;
    z-index: 9;
    border: none;
    text-align: center;
  }
  #pedal3 {
    position: absolute;
    z-index: 9;
    border: none;
    text-align: center;
  }
  #pedal4 {
    position: absolute;
    z-index: 9;
    border: none;
    text-align: center;
  }
  #pedal5 {
    position: absolute;
    z-index: 9;
    border: none;
    text-align: center;
  }

  #slot1{
    position: absolute;
    width: 100%;
    height: auto;
  }
  #slot2{
    position: absolute;
    width: 100%;
    height: auto;
  }
  #slot3{
    position: absolute;
    width: 100%;
    height: auto;
  }
  #slot4{
    position: absolute;
    width: 100%;
    height: auto;
  }
  #slot5{
    position: absolute;
    width: 100%;
    height: auto;
  }

  .slot{
    img{
      width: 100%;
      margin: auto;
    }
    .pedal{
      width: 400px;
    }
  }
