
// GENERAL STUFF

body {      // background
    background-size: 220vh;
    background-position: center;
    background-color: white;
    background-image: url("../img/gif/static.gif");
    background-size: auto;
}

pre { // general text
    text-align: center;
    font-size: x-large;
    font-family: Courier New, Courier, monospace;
    color: blue;
}

.cover2 { // albumart, title, certain buttons
    position: absolute;
    width: 100%;
    max-width: 700px;
    padding: 0vh;
    margin: 5vh auto;
    margin-bottom: 5vh;
}

.headerrr { // holds header
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    padding: 0vh;
    margin: 4vh auto;

    a {
        display: flex;
        align-content: center;
        justify-content: center;
    }
}


//////////////////////////////////////////////////////////////////////////////////////////////

// HEADER

#head {     // header links
    position: center;
    width: 100%;
    height: 80%;
}

#icon {     // header torches
    width: 100%;
    max-width: 50px;
    height: auto;
}

/////////////////////////////////////////////////////////////////////////////////////////////

//ALBUM / SINGLE ART & BUTTONS

#albumArt { // album pic format
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.wrapperWrapper {       // album/song wrapper
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0vh;
}

.linkWrapper {      // button wrapper within wrapperwrapper
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    padding: 0vh;
    margin: 5vh auto;

    button {
        font-size: xx-large;
        font-family: 'VCR OSD Mono';
        height: stretch;
        cursor: pointer;
        margin: 0 2vh 0 2vh;
    }   
}

#linkButton {       // album pre-order link
    width: 100%;
    background-image: url("../img/gif/firepotbar.gif");
    background-size: contain;
    color: white;
    font-size: x-large;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

#musicButton {      // for non-cool links
    width: 50vh;
}

#vizButton {        // cool links worthy of gif
    width: 100vh;
    background-image: url("../img/gif/rainbow.gif");
    background-size: cover;
    color: white;
}

/////////////////////////////////////////////////////////////////////////////////////////////

// KINDA RANDOM


.continue {     // continue button at bottom of page
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    padding: 0vh;
    margin: 4vh auto;

    img {
        width: 50vw;
    }
}

/////////////////////////////////////////////////////////////////////////////////////

// TOUR TOUR TOUR

.tour {     // tour area
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    padding: 0vh;
    margin: auto;
}

.column { // holds different tour columns
    padding: 3vw 1.5vw;
    overflow: hidden;
    white-space: nowrap;

    p {
        font-size: 1.5vw;
        font-family: Helvetica;
        color: white;
        background-color: transparent;
    }

    a {
        background-color: transparent;
    }
}

.UpcomingShows {
    a:link {
        color: blue;
    }
    a:visited {
        color: blue;
    }
}

///////////////////////////////////////////////////////////////////////////////////////////////////

// MOBILE!!!

@media (max-width: 700px) {     // mobile formatting
    .wrapperWrapper {
        display: initial;
        iframe {
            width: 80%;            
            margin: 10% 10% 3% 10%;
        }
    }
    .headerrr {
       display: initial;
    }
    #head {
        width: 60%;
        margin: 5% 15% 5% 15%;
    }
    .column {
        p {
            font-size: 3vw;
        }
    }
    #icon {
        display: none;
    }
}