body {
    background-image: url("../img/gif/swoosh-gif.gif");
    background-size: 220vh;
    background-position: center;
}

#albumArt {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.cover {
    position: absolute;
    width: 100%;
    max-width: 500px;
    padding: 0vh;
    margin: 5vh auto;
    margin-bottom: 5vh;
}

p {
    text-align: center;
    font-size: x-large;
    font-family: 'VCR OSD Mono';
    background-color: white;
}

.linkWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    padding: 0vh;
    margin: 5vh auto;

    button {
        font-size: larger;
        font-family: 'VCR OSD Mono';
        height: stretch;
        cursor: pointer;
        margin: 0 5vh 0 5vh;
    }   
}

#musicButton {
    width: 50vh;
}

#vizButton {
    width: 100vh;
    background-image: url("../img/gif/rainbow.gif");
    background-size: cover;
    color: white;
}

.continue {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    padding: 0vh;
    margin: 5vh auto;
}



