
@font-face {
    font-family: AGBold;
    src: url("../fonts/Avant\ Garde\ Bold.ttf");
}

@font-face {
    font-family: AGDemi;
    src: url("../fonts/ITCAvantGardeStd-Demi.otf");
}

// GENERAL STUFF

body {      // background
    background-size: 220vh;
    background-position: center;
    background-color: orangered;
    //background-image: url("../img/gif/static2.gif");
    background-size: auto;
}

pre { // general text
    //text-align: center;
    font-size: medium;
    //font-family: Arial, Helvetica, sans-serif;
    font-family: AGDemi;
    color: white;
}

.pil {
    width: 33%;
}

.cover2 { // albumart, title, certain buttons
    position: absolute;
    width: 100%;
    max-width: 700px;
    padding: 0vh;
    margin: 5vh auto;
    margin-bottom: 5vh;
}

.headerrr { // holds header
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    padding: 0vh;
    margin: 2vh auto;

    div {
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 0 2vw;
    }
}
#topBanner { font-size: x-large; }
#announcement { font-size: xx-large; }


//////////////////////////////////////////////////////////////////////////////////////////////

// HEADER

#head {     // header links
    position: center;
    width: 100%;
    height: 80%;
}

#icon {     // header torches
    width: 100%;
    max-width: 50px;
    height: auto;
}

/////////////////////////////////////////////////////////////////////////////////////////////

//ALBUM / SINGLE ART & BUTTONS

#albumArt { // album pic format
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.videoWrapper {       // album/song wrapper
    position: absolute;
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 5% auto;
    padding: 0vh;
}

.tourWrapper {       // album/song wrapper
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0vh;
    width: 60%;
    margin: auto 20%;
}

.divider {
    img {
        width: 60%; margin: 2vh 20%;
    }
    
    
}

.linkWrapper {      // button wrapper within wrapperwrapper
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    padding: 0vh;
    margin: 5vh auto;

    button {
        font-size: xx-large;
        font-family: 'VCR OSD Mono';
        height: stretch;
        cursor: pointer;
        margin: 0 2vh 0 2vh;
    }   
}

#linkButton {       // album pre-order link
    width: 100%;
    background-image: url("../img/gif/firepotbar.gif");
    background-size: contain;
    color: white;
    font-size: x-large;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

#musicButton {      // for non-cool links
    width: 50vh;
}

#vizButton {        // cool links worthy of gif
    width: 100vh;
    background-image: url("../img/gif/rainbow.gif");
    background-size: cover;
    color: white;
}

/////////////////////////////////////////////////////////////////////////////////////////////

// KINDA RANDOM


.continue {     // continue button at bottom of page
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    padding: 0vh;
    margin: 4vh auto;

    img {
        width: 50vw;
    }
}

/////////////////////////////////////////////////////////////////////////////////////

// TOUR TOUR TOUR

.tour {     // tour area
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    padding: 0vh;
    margin: auto;
}

.column { // holds different tour columns
    padding: 3vw 1.5vw;
    overflow: hidden;
    white-space: nowrap;

    p {
        font-size: 1.5vw;
        font-family: Helvetica;
        color: white;
        background-color: transparent;
    }

    a {
        background-color: transparent;
    }
}

.UpcomingShows {
    a:link {
        color: blue;
    }
    a:visited {
        color: blue;
    }
}

#sublimate { margin-right: 2vh; }
#tyclts { margin-left: 2vh; }

///////////////////////////////////////////////////////////////////////////////////////////////////
/// 
/// HYDRA OVERLAY

button {
    display: inline-block;
    font-size: 36px;
    padding: 10px 60px;
    margin: 32px;
}

.header { 
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    padding: 0vh;
    margin: 4vh auto;

}

main {
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
}

#iphoneCanvas {
    z-index: 1;
    position: absolute;
    left: 0; top: 0;
    background-image: url("/img/iphone3.png");
    width: 100%; height: 100%;
    background-position: 0 0;
    animation: myMove 10s linear infinite;    
}
@keyframes myMove {
    from { background-position: 0 0; }
    to { background-position: 3600px 0; }
}

#hydraCanvas {
    z-index: 2;
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
}

///////////////////////////////////////////////////////////////////////////////////////////////////

// MOBILE!!!
@media (max-width: 800px) { pre {
        font-size: small;
    }}
@media (max-width: 700px) {     // mobile formatting
    .videoWrapper {
        display: grid;
        width: 90%;
        height: fit-content;
        margin: 3vh 5%;
        iframe {
            width: 100%; height: 100%;
        }
    }
    .tourWrapper {
        //display: grid;
        width: 94%;
        height: fit-content;
        margin: 3vh 3%;
        iframe {
            width: 100%; height: 100%;
        }
    }
    .divider {
        img {
            width: 94%;
        margin: 2vh 3%;
        }
        
    }
    
    #topBanner { font-size: medium;
        div { margin: 0 1vw; } }
    #announcement { font-size: x-large; margin: 0; }
    #head {
        width: 60%;
        margin: 5% 15% 5% 15%;
    }
    .column {
        p {
            font-size: 3vw;
        }
    }
    #icon {
        display: none;
    }
    #sublimate { margin-right: 0; margin-bottom: 7vh; }
    #tyclts { margin-left: 0; margin-top: 7vh; }
    #dash { top: 8vh; }
}

@media (max-width: 400px) {
    pre { font-size: x-small; }
    #topBanner { font-size: small;}
}