body{
    background-image: url("../img/gif/static.gif");
    background-size: cover;
}

.title{
    p{
        font-size: 5rem;
        color: orange;
    }
}

.musiclinks{
    p{
        color:yellow
    }
    width: 50%;
    margin: auto;
}

.menu{
    width: 50%;
    margin: auto;
    a{
        color:yellow
    }
}

.sidetext {
    p {
        font-size: 5rem;
        color: deepskyblue;
        writing-mode: vertical-rl;
       
    }
}

.button {
    position: absolute;
    display: flex;
    width: 100%;
    margin-top: 20vh;
    max-width: 200vh;

    p {
        color: orange;
        font-size: 60px;
        text-align: center;
    }

    button {
        display: block;
        width: 100vh;
        height: 50vh;
        margin: 0 auto;
        border: dashed;
        border-color: lime;
        background-color: white;
        transition-duration: 0.4s;
        background-image: url("../img/gif/email_us.gif");
        background-size: cover;
    }

    button:hover {
        background-color: indigo;
    }
}

@import 'pedals','iphone','photos';