* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.redirect {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 2;
    background-image: url("../img/gif/redirect2.gif");
    background-size: contain;
}

.channels {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 50px;
    display: flex;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 2;
    background-image: url("../img/gif/channels.gif");
    background-size: contain;
    justify-content: right;
}

.phoneLink {
    display: flex;
    position: absolute;
    top: 10%;
    width: 60vh;
    transition-duration: 0.4s;
}

.phoneLink:hover {
    background-color: cornflowerblue;
    background-blend-mode: color-burn;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;    
    align-items: center;
    //background-image: url("../img/gif/birdsong-gif-crop.gif");
    background-image: url("../img/textures/4.jpg");
    //background-size: cover;
    z-index: 2;
}

.textBox {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.menu {
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 60, .6);
    background-size: cover;
}

.text {
    position: relative;
    z-index: 10;
    display: inline-block;
    min-width: 100px;
    max-width: 99%;
    margin-left: 10vh;
    margin-right: 10vh;

    img {
        opacity: 0.8;
    }

    img:hover {
        opacity: 1;        
    }
}

.imgFrame {
    position: relative;
    z-index: 10;
    display: inline-block;
    min-width: 100px;
    max-width: 99%;
    margin-right: 5vh;
    margin-left: 5vh;

}

.imgFrameFlip {
    position: relative;
    z-index: 10;
    display: inline-block;
    min-width: 100px;
    max-width: 99%;
    transform: scaleX(-1);
    margin-left: 5vh;
    margin-right: 5vh;

}

@media (max-width: 700px) {
    body {
        padding: 5px;
    }
    .textBox {
        padding-left: 5px;
        padding-right: 5px;
    }
    .phoneLink {
        width: 65%;
    }
    .text {
        margin-left: 1vh;
        margin-right: 1vh;
        img {
            opacity: 1;
        }
    }
    .imgFrame {
        margin-left: 1vh;
        margin-right: 0;
    }
    .imgFrameFlip {
        margin-right: 1vh;
        margin-left: 0;
    }
}

@import 'email2';